.main-content {
    display: flex;
    flex-direction: column;

    .main-container {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        flex: 1;

        .main-content {
            flex: 1;
        }
    }
}

.siteLogo {
    background-image: url(../../../static/logos/banner.png);
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 10px;
    height: 60px;
}